<!DOCTYPE html>
<html lstampg="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../../main.css">
    <link rel="stylesheet" type="text/css" href="../../category.css">

</head>

<body id="wrapper">

<!--navigation menu-->
<nav>
    <img src="../../logo.png" alt="logo"class="logo">
    <ul>
        <li><a href="../../index.html"> Home</a></li>
        <li class="current"><a href="#"> Stamp</a></li>
        <li><a href="../coins/coin.html"> Coins</a></li>
        <li><a href="../antique/antique.html"> Antiques</a></li>
        <li><a href="../origiami/origami.html"> Origami</a></li>
        <li><a href="../working-hour/workingHour.html"> Business Hour</a></li>
        <li><a href="../form/UserForm.html"> Registration</a></li>
    </ul>
</nav>

<!--content section-->

<section id="maincontent">
    <div id="category">
        <h3>Stamps</h3>
    </div>
    <div class="navbutton">
        <a name="top" href="#footer" class="navContent">Go to Bottom</a>
    </div>
    <ul>
        <li class="card">
            <a href="st1.html"> <img src="../../stamps/st1.jpg" alt="Singapore"> </a>
            <h1>Singapore</h1>
            <article class="description">
                Lstampem ipsum dolstamp sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempstamp tstamptstamp eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="st1.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="st2.html"> <img src="../../stamps/st2.jpg" alt="Australia"> </a>
            <h1>Australia</h1>
            <article class="description">
                Lstampem ipsum dolstamp sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempstamp tstamptstamp eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="st2.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="st3.html"> <img src="../../stamps/st3.jpg" alt="Malaysia"> </a>
            <h1>Malaysia</h1>
            <article class="description">
                Lstampem ipsum dolstamp sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempstamp tstamptstamp eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="st3.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="st4.html"> <img src="../../stamps/st4.jpg" alt="Hong Kong"> </a>
            <h1>Hong Kong</h1>
            <article class="description">
                Lstampem ipsum dolstamp sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempstamp tstamptstamp eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="st4.html" class="md-button"> View Details </a>
            </br>
        </li>
        <li class="card">
            <a href="st5.html"> <img src="../../stamps/st5.jpg" alt="Indonesia"> </a>
            <h1>Indonesia</h1>
            <article class="description">
                Lstampem ipsum dolstamp sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempstamp tstamptstamp eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="st5.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="st6.html"> <img src="../../stamps/st6.jpg" alt="Thailand"> </a>
            <h1>Thailand</h1>
            <article class="description">
                Lstampem ipsum dolstamp sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempstamp tstamptstamp eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="st6.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="st7.html"> <img src="../../stamps/st7.jpg" alt="Tonga"> </a>
            <h1>Tonga</h1>
            <article class="description">
                Lstampem ipsum dolstamp sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempstamp tstamptstamp eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="st7.html" class="md-button"> View Details </a>
        </li>

    </ul>
</section>
<div class="navbutton">
    <a href="#top" class="navContent">Go to top</a>
</div>
<!--footer section-->
<footer id="footer">
    <p>Copyright© </p>
    <p> The images contained therein on this website were sourced from various internet websites. These images are not
        used fstamp profit stamp business purposes. Its sole purpose is fstamp education. In the event that these images
        are
        copyighted and ownership stamp be evidenced, please contact Andrew Chiou (a.chiou@cqu.edu.au) and the images
        will
        be immediately removed from this archive.</p>
</footer>
</body>
</html>
