<!DOCTYPE html>
<html lstampg="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../../main.css">
    <link rel="stylesheet" type="text/css" href="../../category.css">

</head>

<body id="wrapper">

<!--navigation menu-->
<nav>
    <img src="../../logo.png" alt="logo"class="logo">
    <ul>
        <li><a href="../../index.html"> Home</a></li>
        <li><a href="../stamps/stamp.html"> Stamp</a></li>
        <li class="current"><a href="#"> Coins</a></li>
        <li><a href="../antique/antique.html"> Antiques</a></li>
        <li><a href="../origiami/origami.html"> Origami</a></li>
        <li><a href="../working-hour/workingHour.html"> Business Hour</a></li>
        <li><a href="../form/UserForm.html"> Registration</a></li>
    </ul>
</nav>


<section id="maincontent">
    <div id="category">
        <h3>Coins</h3>
    </div>
    <div class="navbutton">
        <a name="top" href="#footer" class="navContent">Go to Bottom</a>
    </div>
    <ul>
        <li class="card">
            <a href="cn1.html"> <img src="../../coins/cn1.jpg"alt="India"> </a>
            <h1>India</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="cn1.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="cn2.html"> <img src="../../coins/cn2.jpg"alt="Nepal"> </a>
            <h1>Nepal</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="cn2.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="cn3.html"> <img src="../../coins/cn3.jpg"alt="New Zealand"> </a>
            <h1>New Zealand</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="cn3.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="cn4.html"> <img src="../../coins/cn4.jpg"alt="Pakistan"> </a>
            <h1>Pakistan</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="cn4.html" class="md-button"> View Details </a>
            </br>
        </li>
        <li class="card">
            <a href="cn5.html"> <img src="../../coins/cn5.jpg"alt="South Korea"> </a>
            <h1>South Korea </h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="cn5.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="cn6.html"> <img src="../../coins/cn6.jpg"alt="USA"> </a>
            <h1>USA</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="cn6.html" class="md-button"> View Details </a>
        </li>

    </ul>
</section>
<div class="navbutton">
    <a href="#top" class="navContent">Go to top</a>
</div>
<footer id="footer">
    <p>Copyright© </p>
    <p> The images contained therein on this website were sourced from various internet websites. These images are not
        used for profit or business purposes. Its sole purpose is for education. In the event that these images are
        copyighted and ownership ccn be evidenced, please contact Andrew Chiou (a.chiou@cqu.edu.au) and the images will
        be immediately removed from this archive.</p>
</footer>

</body>
</html>
