<!DOCTYPE html>
<html lstampg="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../../main.css">
    <link rel="stylesheet" type="text/css" href="../../category.css">

</head>

<body id="wrapper">

<!--navigation menu-->
<nav>
    <img src="../../logo.png" alt="logo"class="logo">
    <ul>
        <li><a href="../../index.html"> Home</a></li>
        <li ><a href="../stamps/stamp.html"> Stamp</a></li>
        <li><a href="../coins/coin.html"> Coins</a></li>
        <li class="current"><a href="#"> Antiques</a></li>
        <li ><a href="../origiami/origami.html"> Origami</a></li>
        <li><a href="../working-hour/workingHour.html"> Business Hour</a></li>
        <li><a href="../form/UserForm.html"> Registration</a></li>
    </ul>
</nav>

<section id="maincontent">
    <div id="category">
        <h3>Antiques</h3>
    </div>
    <div class="navbutton">
        <a name="top" href="#footer" class="navContent">Go to Bottom</a>
    </div>
    <ul>
        <li class="card">
            <a href="an1.html"> <img src="../../antiques/an1.jpg"alt="Chopstick Stand"> </a>
            <h1>Chopstick Stand</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="an1.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="an2.html"> <img src="../../antiques/an2.jpg"alt="Excersie Balls"> </a>
            <h1>Exercise Balls</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="an2.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="an3.html"> <img src="../../antiques/an3.jpg"alt="Bullock Cart"> </a>
            <h1>Bullock Cart</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="an3.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="an4.html"> <img src="../../antiques/an4.jpg"alt="Abacus"> </a>
            <h1>Abacus</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="an4.html" class="md-button"> View Details </a>
            </br>
        </li>
        <li class="card">
            <a href="an5.html"> <img src="../../antiques/an5.jpg"alt="Painted Shell"> </a>
            <h1>Painted shell</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="an5.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="an6.html"> <img src="../../antiques/an6.jpg"alt="Jewellery case"> </a>
            <h1>Jewellery Case</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="an6.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="an7.html"> <img src="../../antiques/an7.jpg"alt="Snuff Box"> </a>
            <h1>Snuff Box</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="an7.html" class="md-button"> View Details </a>
        </li>
    </ul>
</section>
<div class="navbutton">
    <a href="#top" class="navContent">Go to top</a>
</div>
<footer id="footer">
    <p>Copyright© </p>
    <p> The images contained therein on this website were sourced from various internet websites. These images are not
        used for profit or business purposes. Its sole purpose is for education. In the event that these images are
        copyighted and ownership can be evidenced, please contact Andrew Chiou (a.chiou@cqu.edu.au) and the images will
        be immediately removed from this archive.</p>
</footer>

</body>
</html>
