<!DOCTYPE html>
<html lstampg="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../../main.css">
    <link rel="stylesheet" type="text/css" href="../../category.css">

</head>

<body id="wrapper">

<!--navigation menu-->
<nav>
    <img src="../../logo.png" alt="logo"class="logo">
    <ul>
        <li><a href="../../index.html"> Home</a></li>
        <li ><a href="../stamps/stamp.html"> Stamp</a></li>
        <li><a href="../coins/coin.html"> Coins</a></li>
        <li><a href="../antique/antique.html"> Antiques</a></li>
        <li class="current"><a href="#"> Origami</a></li>
        <li><a href="../working-hour/workingHour.html"> Business Hour</a></li>
        <li><a href="../form/UserForm.html"> Registration</a></li>
    </ul>
</nav>

<section style="padding: 10px; text-align:justify" id="maincontent">
    <h1>Fireworks</h1>
    <img class=" hiddenImage" src="../../origiami/or5.JPG"alt="Fireworks">

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor tortor eu dui mollis, in malesuada
        mauris tempus. Aliquam massa est, facilisis bibendum vulputate eu, iaculis sagittis leo. Interdum et
        malesuada fames ac ante ipsum primis in faucibus.


        <img class=" rightImage" src="../../origiami/or5.JPG"alt="Fireworks">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor tortor eu dui mollis, in malesuada
        mauris tempus. Aliquam massa est, facilisis bibendum vulputate eu, iaculis sagittis leo. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Proin eu nulla quis lectus hendrerit maximus a in turpis.
        Proin sollicitudin ultricies sodales. Sed non velit libero. Quisque pulvinar ullamcorper molestie. Cras
        massa est, cursus eget lacus at, rutrum eleifend diam. Duis laoreet purus pulvinar quam dignissim, et
        sollicitudin arcu pharetra.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor tortor eu dui mollis, in malesuada
        mauris tempus. Aliquam massa est, facilisis bibendum vulputate eu, iaculis sagittis leo. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Proin eu nulla quis lectus hendrerit maximus a in turpis.
        Proin sollicitudin ultricies sodales. Sed non velit libero. Quisque pulvinar ullamcorper molestie. Cras
        massa est, cursus eget lacus at, rutrum eleifend diam. Duis laoreet purus pulvinar quam dignissim, et
        sollicitudin arcu pharetra.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor tortor eu dui mollis, in malesuada
        mauris tempus. Aliquam massa est, facilisis bibendum vulputate eu, iaculis sagittis leo. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Proin eu nulla quis lectus hendrerit maximus a in turpis.
        Proin sollicitudin ultricies sodales. Sed non velit libero. Quisque pulvinar ullamcorper molestie. Cras
        massa est, cursus eget lacus at, rutrum eleifend diam. Duis laoreet purus pulvinar quam dignissim, et
        sollicitudin arcu pharetra.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor tortor eu dui mollis, in malesuada
        mauris tempus. Aliquam massa est, facilisis bibendum vulputate eu, iaculis sagittis leo. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Proin eu nulla quis lectus hendrerit maximus a in turpis.
        Proin sollicitudin ultricies sodales. Sed non velit libero. Quisque pulvinar ullamcorper molestie. Cras
        massa est, cursus eget lacus at, rutrum eleifend diam. Duis laoreet purus pulvinar quam dignissim, et
        sollicitudin arcu pharetra.
    </p>
</section>
<footer id="footer">
    <p>Copyright© </p>
    <p> The images contained therein on this website were sourced from various internet websites. These images are not
        used for profit or business purposes. Its sole purpose is for education. In the event that these images are
        copyighted and ownership can be evidenced, please contact Andrew Chiou (a.chiou@cqu.edu.au) and the images will
        be immediately removed from this archive.</p>
</footer>

</div>
</body>
</html>
