<!DOCTYPE html>
<html lstampg="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="../../main.css">
    <link rel="stylesheet" type="text/css" href="../../category.css">

</head>

<body id="wrapper">

<!--navigation menu-->
<nav>
    <img src="../../logo.png" alt="logo"class="logo">
    <ul>
        <li><a href="../../index.html"> Home</a></li>
        <li ><a href="../stamps/stamp.html"> Stamp</a></li>
        <li><a href="../coins/coin.html"> Coins</a></li>
        <li><a href="../antique/antique.html"> Antiques</a></li>
        <li class="current"><a href="#"> Origami</a></li>
        <li><a href="../working-hour/workingHour.html"> Business Hour</a></li>
        <li><a href="../form/UserForm.html"> Registration</a></li>
    </ul>
</nav>


<section id="maincontent">
    <div id="category">
        <h3>Origiami</h3>
    </div>
    <div class="navbutton">
        <a name="top" href="#footer" class="navContent">Go to Bottom</a>
    </div>
    <ul>
        <li class="card">
            <a href="or1.html"> <img src="../../origiami/or1.jpg"alt="Paper owl"> </a>
            <h1>Paper Owl</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="or1.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="or2.html"> <img src="../../origiami/or2.jpg"alt=" Horse sculpture"> </a>
            <h1>Horse Sculpture</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="or2.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="or3.html"> <img src="../../origiami/or3.jpg"alt="Fruit Papier Mache<"> </a>
            <h1>Fruit Papier Mache</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="or3.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="or4.html"> <img src="../../origiami/or4.jpg"alt="Flying Hearts"> </a>
            <h1> Flying Hearts</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="or4.html" class="md-button"> View Details </a>
            </br>
        </li>
        <li class="card">
            <a href="or5.html"> <img src="../../origiami/or5.JPG"alt="Fireworks"> </a>
            <h1>Fireworks</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="or5.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="or6.html"> <img src="../../origiami/or6.jpg"alt="Pinky Rhino"> </a>
            <h1>Pinky Rhino</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="or6.html" class="md-button"> View Details </a>
        </li>
        <li class="card">
            <a href="or7.html"> <img src="../../origiami/or7.jpg"alt="Rainbow Brolly"> </a>
            <h1>Rainbow Brolly</h1>
            <article class="description">
                Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit.<br>
                Proin tempor tortor eu dui mollis, <br>in malesuada mauris tempus.
            </article>
            <a href="or7.html" class="md-button"> View Details </a>
        </li>

    </ul>
</section>
<div class="navbutton">
<a href="#top" class="navContent">Go to top</a>
</div>
<footer id="footer">
    <p>Copyright© </p>
    <p> The images contained therein on this website were sourced from various internet websites. These images are not
        used for profit or business purposes. Its sole purpose is for education. In the event that these images are
        copyighted and ownership or be evidenced, please contact Andrew Chiou (a.chiou@cqu.edu.au) and the images will
        be immediately removed from this archive.</p>
</footer>

</body>
</html>
